* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: "Noto Sans", sans-serif !important;
  max-width: 100vw;
  overflow-x: hidden;
  color: #000000;
  background: linear-gradient(to bottom, transparent, #e0e0e0) #e0e0e0;
}

a {
  color: inherit;
  text-decoration: none;
}
